<h1>"Hello!"</h1>
<hr>

<form action="/birthday" method="post">
  <label for="name">What is your name?</label>
  <input type="text" name="name">
  <label for="birthday">When is your birthday?</label>
  <input type="datetime" name="birthday">
<input type="submit" value="Submit">
</form>
